.App {
  text-align: center;
  height: 100vH;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  font-size: .9rem;
}

.App-logo {
  height: 1.6rem;
  padding: .2rem 0 .7rem 0;
}

.App-bg {
  height: 100vH;
  margin-left: -25%;
}

@media screen and (min-width: 479px) {
  .App-bg {
    position: absolute;
    height: 100vH;
    right: 0;
  }
}

.App-header {
  height: 1.8rem;
  width: 100vW;
  position: fixed;
  bottom: 0;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 -1px 4px #f4f4f4;
}

.App-link {
  color: #61dafb;
}

.sign_in {
  position: absolute;
  top: 30%;
  right: 1rem;
}

.sign_in-input {
  display: block;
  padding: 1rem;
  margin: .5rem 0;
  border: 1px solid #ddd;
  width: 10.5rem;
  height: 1rem;
  font-size: 1rem;
  border-radius: .8rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.sign_in-input:focus {
  outline: none;
}

.sign_in_btn {
  margin: auto;
  border: 1px solid #ffffff;
  border-radius: .4rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: 2.3rem;
  margin: .2rem 0 .1rem 0;
  overflow: visible;
  padding: 0 0rem;
  margin: .1rem;
  text-align: center;
  white-space: nowrap;
  background-color: #ffe836;
}

.sign_in_btn-text {
  line-height: 1rem;
  margin: .2rem 0;
  display: inline;
  width: 100%;
  text-shadow: 0 -1px rgba(0, 0, 0, .25);
  color: #fff;
  padding: 0.5rem 3.8rem;
  border: 0;
  border-radius: .6rem;
}

.sign_up-opt {
  font-size: .8rem;
  margin: .3rem .2rem;
  padding: .4rem;
  border-top: .5px solid #e8e8e8;
}

.sign_up-text {
  margin: auto;
  color: #4f36ff;
  font-size: .9rem;
  padding: 0 0 0 .1rem;
}

.menu {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  width: 100vW;
  height: 1.4rem;
  background: #fffc00;
  box-shadow: 0 1px 4px #e4de52;
}

.menu--closed {
  background: #fffc00;
}

.menu_header {
  z-index: 1;
  top: 0;
}

.menu_icon {
  height: 90%;
  padding: 0rem .5rem;
  float: left;
}

.arrow_icon--menu {
  height: 100%;
  float: right;
  padding: 0 .3rem;
}

.menu_nav--open {
  position: absolute;
  bottom: 1.8rem;
  top: 0;
  width: 100vW;
  height: 100vH;
  background: #ffffff;
  z-index: 10;
}

.menu_nav--closed {
  height: 0;
}

.nav {
  width: 100%;
  height: 2.2rem;
  top: 1.3rem;
  position: absolute;
  background: #f5f21d;
}

.nav_icon {
  height: 1.9rem;
  list-style-type: none;
  display: inline-block;
  padding: 0 1rem .2rem 1rem;
}

.nav_icon-img {
  height: 2rem;
  padding: .2rem;
}

.nav_list {
  width: 100vW;
  margin: 0;
  padding: 0;
}

.addition-icon {
  position: absolute;
  z-index: 10;
  top: 2rem;
  height: 3rem;
  right: .5rem;
}

.post-form-overlay {
  position: absolute;
  display: block;
  top: 6rem;
  width: 96vW;
  height: auto;
  margin: .2rem auto;
  padding: 1rem .3rem;
  border: 1px solid #54545499;
  background: #ffffff;
  border-radius: 9px;
  right: 0;
  left: 0;
  text-align: left;
  z-index: 100;
}

.post_form-control {
  width: 95%;
  height: 1rem;
  margin: 0 auto .4rem;
  padding: .7rem .5rem;
  font-size: 0.9rem;
  border: .5px solid #00000099;
  border-radius: .4rem;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  background: #ffffff;
  color: #000000;
}

.post_form-control--submit {
  margin: 10px 0 0 0;
}

.btn.btn-info {
  height: 35px;
  width: 120px;
  padding: 10px;
  background: #ffffff;
  font-size: 0.8rem;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  border: .5px solid #3c3c3c;
  border-radius: 5px;
  cursor: not-allowed;
  margin: .5rem auto 1.5rem;
  display: block;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 1px solid #fffc00;
}

.form-text-area {
  height: 7rem;
  line-height: 1.5;
}

.form-close {
  float: right;
  padding: 0 .5rem 1rem 0;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  font-size: 0.8rem;
  color: #3c3c3c;
}

.post_form-input {
  height: 2rem;
  padding: .3rem;
  width: 100%;
}

.post_form-info {
  font-size: .8rem;
  color: #cdcdcd;
}

.post_form-title {
  font-size: 1rem;
  display: block;
  margin: .5rem 0 1rem .2rem;
}

.post_form-hint {
  font-style: italic;
  color: #cdcdcd;
  font-size: .8rem;
}

.post_form-group-item {
  margin: .5rem .1rem;
  display: block;
}

.sumbit_success {
  display: block;
  position: absolute;
  top: 6rem;
  background: #f3f3f3;
  border-radius: .9rem;
  color: #000000;
  font-size: .9rem;
  padding: .6rem 1rem .6rem .5rem;
  margin: 0 .3rem;
  line-height: 1.4;
  text-align: left;
}

.submit-success-img {
  height: 2rem;
  float: left;
  padding: .2rem;
  margin: 0 .8rem 0 0;
}

.post-feed {
  position: absolute;
  display: block;
  background: #ffffffe0;
  top: .2rem;
  left: .1rem;
  right: .1rem;
  bottom: 3.4rem;
  border-radius: 3rem;
  border: .5px solid #d4d4d4;
  overflow: hidden;
}

.active-post {
  overflow-y: auto;
  height: 100%;
}

.active-post-header {
  display: block;
  height: 5rem;
  padding: .7rem .5rem .3rem .5rem;
  left: .5rem;
  right: .5rem;
  top: 2rem;
  position: absolute;
  z-index: 1;
  border-radius: .5rem;
  background: #ffffff;
  text-align: left;
}

.active-post-header-active {
  position: relative;
  height: auto;
  top: 0;
  margin: 2rem .5rem .5rem .5rem;
  right: 0;
  left: 0;
}

.active-post-header-title {
  display: block;
  width: 100%;
  word-break: normal;
  font-size: 1rem;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem 0;
}

.active-post-header-about {
  display: block;
  height: 30%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .7rem;
  line-height: 2;
  text-align: justify;
}

.active-post-img {
  position: absolute;
  display: block;
  left: .1rem;
  right: .1rem;
  max-width: 100vW;
  bottom: 0;
  top: 0;
  margin: auto;
}

.active-post-img-active {
  position: relative;
}

.active-post-header-text {
  display: block;
  height: 100%;
  width: 100%;
  font-size: .8rem;
  line-height: 2;
  text-align: justify;
}

.active-post-header-text-title {
  font-weight: bold;
}

.active-post-header-title-active {
  background: #fffc00;
  border-radius: .4rem;
}

.active-post-btn-next {
  position: absolute;
  bottom: 0;
  display: block;
  height: 3.87rem;
  margin-bottom: -.1rem;
  margin-right: -.5rem;
  right: 0;
  right: 0;
}

.active-post-btn-save {
  position: absolute;
  bottom: 0;
  display: block;
  height: 5rem;
  right: 0;
  left: 0;
  margin-bottom: -.7rem;
}

.sign-up-form {
  position: absolute;
  display: block;
  right: 0;
}

.sign_up-input {
  display: block;
  padding: 1rem;
  margin: .5rem 0;
  border: 1px solid #ddd;
  width: 10.5rem;
  height: 1rem;
  font-size: 1rem;
  border-radius: .8rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.sign_up-opt-text {
  line-height: 2;
  text-align: left;
}

.sign-up-msg {
  border: none;
  color: #ffd324;
  height: 1.3rem;
}

.preview {
  position: absolute;
  top: 6rem;
  background: #fff;
}

.preview_post {
  display: block;
  height: 4rem;
  overflow-y: hidden;
  width: 98%;
  margin: .7rem auto;
  padding: .5rem 0 0;
  border-radius: .5rem;
}

.preview_post-img {
  width: 100vW;
  border-top: .5px solid #f5f5f5;
}

.preview_post-date {
  float: right;
}

.preview_post-title {
  float: left;
}
