.App {
  text-align: center;
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.App-logo {
  height: 1.6rem;
  padding: .2rem 0 .7rem 0;
}

.App-bg {
  height: 100vH;
  margin-left: -25%;
}

@media screen and (min-width: 479px) {
  .App-bg {
    position: absolute;
    height: 100vH;
    right: 0;
  }
}

.App-header {
  height: 1.8rem;
  width: 100vW;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 -1px 4px #f4f4f4;
}

.App-link {
  color: #61dafb;
}

.sign_in {
  position: absolute;
  top: 30%;
  right: 1rem;
}

.sign_in-input {
  display: block;
  padding: 1rem;
  border: 1px solid #ddd;
  width: 10.5rem;
  height: 1rem;
  font-size: 1rem;
  border-radius: .8rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.sign_in-input:focus {
  outline: none;
}

.sign_in-input--top {
  border-radius: .8rem .8rem 0 0;
  border-bottom: 0;
}

.sign_in-input--bottom {
  border-radius: 0 0 .8rem .8rem;
}

.sign_in_btn {
  margin: auto;
  border: 1px solid #ffffff;
  border-radius: .4rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: 2.3rem;
  margin: .2rem 0 .1rem 0;
  overflow: visible;
  padding: 0 0rem;
  margin: .1rem;
  text-align: center;
  white-space: nowrap;
  background-color: #ffe836;
}

.sign_in_btn-text {
  line-height: 1rem;
  margin: .2rem 0;
  display: inline;
  width: 100%;
  text-shadow: 0 -1px rgba(0, 0, 0, .25);
  color: #fff;
  padding: 0.5rem 3.8rem;
  border: 0;
  border-radius: .6rem;
}

.sign_up-opt {
  font-size: .8rem;
  margin: .3rem .2rem;
  padding: .4rem;
  border-top: .5px solid #e8e8e8;
}

.sign_up-text {
  margin: auto;
  color: #4f36ff;
  font-size: .9rem;
  padding: 0 0 0 .1rem;
}

.menu {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  width: 100vW;
  height: 1.4rem;
  background: #fffc00;
  box-shadow: 0 1px 4px #e4de52;
}

.menu--closed {
  background: #fffc00;
}

.menu_header {
  z-index: 1;
  top: 0;
}

.menu_icon {
  height: 90%;
  padding: 0rem .5rem;
  float: left;
}

.arrow_icon--menu {
  height: 100%;
  float: right;
  padding: 0 .3rem;
}

.menu_nav--open {
  position: absolute;
  bottom: 1.8rem;
  top: 0;
  width: 100vW;
  height: 100vH;
  background: #ffffff;
}

.menu_nav--closed {
  height: 0;
}

.nav {
  width: 100vH;
  height: 2.2rem;
  top: 1.3rem;
  position: absolute;
  background: #f5f21d;
}

.nav_icon {
  height: 1.9rem;
  list-style-type: none;
  display: inline-block;
  padding: 0 1rem .2rem 1rem;
}

.nav_icon-img {
  height: 2rem;
  padding: .2rem;
}

.nav_list {
  width: 100vW;
  margin: 0;
  padding: 0;
}

.addition-icon {
  position: absolute;
  top: 2rem;
  height: 3rem;
  right: .5rem;
}

.post-form-overlay {
  position: absolute;
  display: block;
  top: 6rem;
  width: 90vW;
  height: auto;
  margin: auto;
  padding: 1rem .5rem;
  border: 2px solid #00000099;
  background: #ffffff;
  border-radius: 9px;
  right: 0;
  left: 0;
}

.post_form-control {
  width: 94%;
  height: 1rem;
  margin: 3px 3px 3px 0;
  padding: 10px;
  font-size: 0.9rem;
  border: .5px solid #00000099;
  border-radius: 10px;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  background: #ffffff;
  color: #000000;
}

.post_form-control--submit {
  margin: 10px 0 0 0;
}

.btn.btn-info {
  height: 35px;
  width: 120px;
  padding: 10px;
  background: #ffffff;
  font-size: 0.8rem;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  border: .5px solid #3c3c3c;
  border-radius: 5px;
  cursor: not-allowed;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 1px solid #fffc00;
}

.form-text-area {
  height: 10rem;
}

.form-close {
  float: right;
  padding: 0 .5rem 1rem 0;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  font-size: 0.8rem;
  color: #3c3c3c;
}
